@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins&family=Shadows+Into+Light&family=Zen+Dots&display=swap');

.body{
    padding: 60px;
    background-image: url("1 copia.jpg");
    background-repeat: repeat ;
    background-color: black;
}
.c1{
    font-family: Zen Dots;
    font-size: 45px;
    color: white;

}

.yellow{
    font-family: Zen Dots;
    font-size: 45px;
    color: rgb(255, 217, 0);
}


.d1{
    font-family: Poppins;
    font-size: 20px;
    color: white;
    
}
.y{
    font-family: Zen Dots;
    font-size: 20px;
    color: rgb(255, 217, 0);
}

.c2{
    font-family: Gloria Hallelujah;
    font-size: 45px;
    color: white;

}

.d2{
    font-family:Shadows Into Light;
    font-size: 20px;
    color: white;
}

.b{
    font-family: Gloria Hallelujah;
    font-size: 45px;
    color: rgb(165, 138, 114);
}
.brown{
    font-family:Shadows Into Light;
    font-size: 20px;
    color: rgb(238, 211, 188);
    
}
.fas fa-seedling{
    color: rgb(238, 211, 188);
}
.ok{
    font-family: sans-serif;
    color: white;
    font-size: 12;
}